@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Raleway:wght@200;400;500;600&display=swap');

:root {
  --cardo: Cardo, serif;
  --raleway: Raleway, sans-serif;
}

* {
  font-size: 10px;
}

.mealList {
  display: flex;
  align-items: center;
  margin: 1.5rem 3rem;
  gap: 3rem;
  cursor: pointer;
}
.mealList img {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-bottom: 40px;
}
.mealList__info {
  font-family: var(--raleway);
}
.mealList__name {
  font-size: 1.4rem;
  color: black;
}
.mealList__category {
  font-size: 1rem;
  color: black;
}
